.menuItem {

}

.menuItem a {
  display: flex;
  align-items: center;
  gap: var(--space);
  block-size: 2.5rem;
  padding-inline-start: var(--space3);
  padding-inline-end:   var(--space3);
  font: var(--button);
}

.menuItem a:hover {
  text-decoration: none;
}

.menuItem.is-active a {
  color: var(--white);
  box-shadow: inset 4px 0 0 var(--primary);
}

.menuItem.is-active .icon-home:before {
  content: "\e90a";
}

.menuItem.is-active .icon-search:before {
  content: "\e914";
}

.menuItem [class^="icon-"] {
  font-size: 1.5rem;
}