.playerPlayback {
  display: flex;
  align-items: center;
  gap: var(--space);
}

.playerPlayback-slider {
  flex: 1;
}

.playerPlayback-progressTime {
  position: relative;
  top: .03rem;
  line-height: 1;
  font: var(--small);
}