@import './logo.css';
@import './list.css';
@import './menu.css';
@import './ellipsis.css';

.sidebar {
  display: flex;
  flex-direction: column;
  gap: var(--space3);
  padding-block-start: var(--space3);
  padding-block-end:   var(--space3);
  background: var(--gray60);
  overflow-y: auto;
}